body {
	font-size: 16px;
	background-color: #fafafa;
	font-family: "Lato", sans-serif;
}

#Wheatley {
	display: block;
	height: 180px;
	width: 180px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}