body {
	font-size: 16px;
	background-color: #fafafa;
	font-family: "Lato-Light", "Lato", "Roboto-Light", "Roboto", sans-serif;
}

#Wheatley {
	display: block;
	height: 280px;
	width: 280px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

div:focus, div:active, div.active, div:focus:active {
	background-image: none;
  	outline: none;
    -webkit-box-shadow: none;
  	box-shadow: none;
}