#pin-field {
	text-align: center;
}

#pin-field input {
	width: 50px;
	height: 65px;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 45px;
	border: 1px solid #eee;
}

h3 {
	text-align: center;
}

/********** XXS SCREENS **********/
@media (max-width: 479px) {
	#pin-field input {
		width: 40px;
		height: 55px;
		margin: 5px;
	}
}