<link rel="stylesheet" type="text/css" href="css/authentication/password.css">

<div class="validation-errors-container">
  <div ng-if="forgot.emailForm.email.$touched">
    <div ng-if="forgot.emailForm.email.$error.email" class="validation-errors">Please enter a valid email address.</div>
  </div>
</div>

<form role="form" name="forgot.emailForm" novalidate>
  <div class="form-group text-entry-field">
    <div class="prompt-text">Please enter your email:</div>
    <input type="email" name="email" ng-model="forgot.passwordResetForm.email" required="required" class="form-control" id="email-text-field"/>
  </div>

  <div class="request-button-row">
  	<button class="request-button" ng-click="forgot.handlePwdResetBtnClick()">Request password reset</button>
  </div>
</form>