/* CSS styles for the accounts view */

.submit-account-form {
	background-color: white;
	margin: 15px auto 15px;
	border-radius: 5px;
	border: 1px solid #eee;
}

.account-form-buffer-top {
	height: 10px;
}

.submit-account-buffer-top {
	height: 15px;
}

.submit-account-buffer-bottom {
	height: 15px;
}

.form-group {
	margin: 0;
}

.account-text-entry-field {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	font-size: 1.2em;
	text-align: center;
	background-color: white;
	border: 0;
	border-bottom: 1px solid #bbb;
	background-color: white;
	box-shadow: none;
	padding: 0;
	border-radius: 0px;
}

.col-xs-6 {
	padding: 0;
}

#website-text-field {
	width: 100%;
	font-size: 1.00em;
	text-align: center;
	height: 50px;
	border: 0;
	border-bottom: 1px solid #bbb;
	box-shadow: none;
	padding-top: 10px;
	border-radius: 0px;
	display: inline-block;
	padding: 0;
}

.clipboard {
	text-align: center;
	margin-top: 35px;
}

#search-box {
	display: block;
	text-align: center;
	margin: 0 auto 0;
	font-size: 1.5em;
	border-radius: 5px;
	box-shadow: 0px;
	border: 0;
	line-height: 1.7em;
}

#add-account-button:hover {
	cursor: pointer; 
	cursor: hand;
}

#submit-account-button:hover {
	cursor: pointer; 
	cursor: hand;
}

#add-account-button {
	margin: 10px auto 10px;
	text-align: center;
	font-size: 1.4em;
}

#search-box {
	border: 1px solid #eee;
}

.buttonrow {
	font-size: 1.5em;
	text-align: center;
}

.no-results-card {
	font-size: 2em;
	text-align: center;
	padding: 15px 0 15px;
}

.validation-errors-container {
	text-align: center;
}

.validation-errors {
	color: red;
	font-size: 1.1em;
	margin-bottom: 10px;
	display: inline-block;
}

#website-text-field.ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}

#password-text-field.ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}

md-content#slider-container {
	width: 70%;
	margin: 0 auto 0;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: transparent;
}

md-slider.md-primary .md-track.md-track-fill{
	background-color: black;
}

md-slider.md-default-theme.md-primary .md-thumb:after, md-slider.md-primary .md-thumb:after {
	border-color: black;
	background-color: black;
}

/* LARGE DEVICES */
@media (min-width: 1200px) {
	.submit-account-form {
		width: 80%;
	}
	#search-box {
		width: 60%;
	}
}

/* MEDIUM DEVICES */
@media (min-width: 992px) and (max-width: 1199px) {
	.submit-account-form {
		width: 70%;
	}
	#search-box {
		width: 70%;
	}
}

/* SMALL DEVICES */
@media (min-width: 768px) and (max-width: 991px) {
	.submit-account-form {
		width: 80%;
	}
	#search-box {
		width: 80%;
	}
}

/* EXTRA SMALL SCREENS */
@media (max-width: 767px) {
	.submit-account-form {
		width: 90%;
	}
	#search-box {
		width: 90%;
	}
	.account-text-entry-field {
		width: 90%;
	}
	md-content#slider-container {
		width: 90%;
		padding-left: 5px;
		padding-right: 5px;
	}
}