.account {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #fcfcfc;
	border: 1px solid #eee;
}

.buffer-top {
	height: 5px;
}

.buffer-bottom {
	height: 5px;
}

.submit-account-buffer-top {
	height: 8px;
}

.submit-account-buffer-bottom {
	height: 5px;
}

.account_website {
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	padding-bottom: 15px;
	-webkit-animation: shrinkText 0.1s forwards;
}

.account_website_enlarged {
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	padding-bottom: 15px;
	-webkit-animation: enlargeText 0.1s forwards;
}

@keyframes enlargeText {
    from {font-size: 2.7em;}
    to {font-size: 3em;}
}

@keyframes shrinkText {
    from {font-size: 3em;}
    to {font-size: 2.7em;}
}

.account_email {
	font-style: italic;
	margin-top: 0;
	display: block;
	text-transform: none;
	-webkit-animation: shrinkEmail 0.1s forwards;
} 

.account_email_enlarged {
	font-style: italic;
	margin-top: 0;
	display: block;
	text-transform: none;
	-webkit-animation: enlargeEmail 0.1s forwards;
} 

@keyframes enlargeEmail {
    from {
    	font-size: 0.3em;
    	font-style: italic;
    	margin-top: -10px;
    }
    to {
    	font-size: 0.4em;
    	font-style: normal;
    	margin-top: 0px;
    }
}

@keyframes shrinkEmail {
    from {
    	font-size: 0.4em;
    	font-style: normal;
    	margin-top: 0px;
    }
    to {
    	font-size: 0.3em;
    	font-style: italic;
       	margin-top: -10px;
    }
}

.account-details {
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 5px;
}

.clipboard {
	text-align: center;
	margin-top: 35px;
}

#search-box {
	display: block;
	text-align: center;
	margin: 0 auto 0;
	font-size: 1.5em;
	border-radius: 5px;
	box-shadow: 0px;
	border: 0;
	line-height: 1.7em;
}

#add-account-button:hover {
	cursor: pointer; 
	cursor: hand;
}

#submit-account-button:hover {
	cursor: pointer; 
	cursor: hand;
}

#add-account-button {
	margin: 10px auto 10px;
	text-align: center;
	font-size: 1.4em;
}

.form-group {
	margin: 0;
}

.text-entry-field {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	font-size: 1.2em;
	text-align: center;
}

#search-box {
	border: 1px solid #eee;
}

#account-text-field {
	border: 0;
	border-bottom: 1px solid #bbb;
	background-color: #fcfcfc;
	box-shadow: none;
	padding: 0;
	border-radius: 0px;
}

.buttonrow {
	font-size: 1.5em;
	text-align: center;
}

.no-results-card {
	font-size: 2em;
	text-align: center;
	padding: 15px 0 15px;
}

/* LARGE DEVICES */
@media (min-width: 1200px) {
	.account {
		width: 60%;
	}
	.website-preview {
		width: 80%;
		margin: 5px;
		padding-top: 10px;
	}
	#search-box {
		width: 60%;
	}
}

/* MEDIUM DEVICES */
@media (min-width: 992px) and (max-width: 1199px) {
	.account {
		width: 70%;
	}
	.website-preview {
		width: 80%;
		margin: 5px;
		padding-top: 10px;
	}
	#search-box {
		width: 70%;
	}
}

/* SMALL DEVICES */
@media (min-width: 768px) and (max-width: 991px) {
	.account {
		width: 80%;
	}	
	.website-preview {
		width: 80%;
		margin: 5px;
		padding-top: 15px;
	}
	#search-box {
		width: 80%;
	}
}

/* EXTRA SMALL SCREENS */
@media (max-width: 767px) {
	.account {
		width: 90%;
	}
	.website-preview {
		width: 60px;
		margin: 5px;
		padding-top: 13px;
	}
	#search-box {
		width: 90%;
	}
}