<link rel="stylesheet" type="text/css" href="css/authentication/login.css">

<!-- Display the errors to the user -->
<div ng-if="login.errors.length" class="errors">
  <div ng-repeat="error in login.errors">
    {{error}}
  </div>
</div>

<!-- Display the success messages to the user -->
<div ng-if="login.success.length" class="success">
  <div ng-repeat="success in login.success">
    {{success}}
  </div>
</div>

<!-- Display an error for form validation -->
<div class="validation-errors-container">
  <span ng-if="login.loginForm.email.$touched">
    <span ng-if="login.loginForm.email.$error.required" class="validation-errors">
      Email is required. 
    </span>
    <span ng-if="login.loginForm.email.$error.email" class="validation-errors">Please enter a valid email address.</span>
  </span>
  <span ng-if="login.loginForm.password.$error.required && login.loginForm.password.$touched" class="validation-errors">Password is required. </span>
</div>

<!-- Display loading message when logging in -->
<div class="validation-errors-container">
  <span ng-if="login.loading" class="loading-message">
    Logging in...
  </span>
</div>

<!-- Form for login submission -->
<form role="form" name="login.loginForm" novalidate>
  <div class="form-group">
    <input type="email" name="email" ng-model="login.enteredLoginForm.email" required class="form-control text-entry-field" ng-keypress="login.keypressed($event)" placeholder="Email" id="email-text-field"/>
  </div>

  <div class="form-group">
    <input type="password" name="password" ng-model="login.enteredLoginForm.password" required class="form-control text-entry-field" ng-keypress="login.keypressed($event)" placeholder="Password" id="password-text-field"/>   
  </div>

  <!-- Buttons for the user to interact with -->
  <div class="buttonrow">
    <span class="login-button" ng-click="login.handleLoginBtnClick()" ng-disabled="loginForm.$invalid">
      Sign-in
    </span>
    <span class="signup-button" ui-sref="authorization.signup">
      Sign-up
    </span>
  </div>

  <!-- Only show the forgot password button if the user has 
        failed entering their password once -->
  <div class="buttonrow" ng-if="login.showforgotpassword">
    <span class="forgot-button" ui-sref="authorization.forgotpassword">
        Forgot Password?
    </span>
  </div>
</form>

<div class="signupnowbutton">
  <button id="about-button" class="hvr-grow" ui-sref="security">About F.R.I.D.A.Y.</button>
</div>