<link rel="stylesheet" type="text/css" href="css/dashboard/accounts.css">
<link rel="stylesheet" type="text/css" href="css/dashboard/account.css">

<div id="add-account-button-container">
	<button ng-click="account.handleAddAccountButtonClick()" id="add-account-button">{{account.showForm ? 'Cancel' : 'Add Account'}}</button>
</div>

<form role="form" ng-slide-down="account.showForm" lazy-render duration="0.3" ng-keypress="account.keypressed($event)" class="submit-account-form" name="account.addAccountForm">

	<!-- <div class="validation-errors-container">
	  <div ng-if="account.addAccountForm.website.$touched">
	    <div ng-if="account.addAccountForm.website.$error.required" class="validation-errors">
	      Website is required. 
	    </div>
	  </div>
	  <div ng-if="account.addAccountForm.login.$touched">
	    <div ng-if="account.addAccountForm.login.$error.required" class="validation-errors">
	      Login is required. 
	    </div>
	  </div>
	  <div ng-if="account.addAccountForm.password.$error.required && account.addAccountForm.password.$touched" class="validation-errors">Password is required. </div>
	</div> -->

	<div class="account-form-buffer-top"></div>

	<div layout="row" layout-align="start" flex="" class="material-account-text-entry-field">
      <md-input-container flex="50">
        <label>Website</label>
        <input type="text" name="website" ng-model="account.newAccount.website" required>
      </md-input-container>
      <md-input-container flex="50">
        <label>Login</label>
        <input type="text" name="login" ng-model="account.newAccount.email" required>
      </md-input-container>
    </div>
    <div class="submit-account-buffer-bottom"></div>
    <div layout="row" layout-align="start" flex="" class="material-account-text-entry-field">
      <md-input-container flex="100">
        <label>Password</label>
        <input type="text" name="password" ng-model="account.newAccount.password" required>
      </md-input-container>
    </div>
    <div class="submit-account-buffer-bottom"></div>

	<!-- <div class="row account-text-entry-field">
		<div class="account-form-buffer-top"></div>
		<div class="col-xs-6">
			<div class="form-group">
				<input type="text" name="website" ng-model="account.newAccount.website" required="required" class="form-control" placeholder="website" id="website-text-field">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<input type="text" name="login" ng-model="account.newAccount.email" required="required" class="form-control" placeholder="login" id="website-text-field">
			</div>
		</div>
	</div> -->

	<!-- <div class="form-group">
		<input type="text" name="password" ng-model="account.newAccount.password" required="required" class="form-control account-text-entry-field" placeholder="password" id="password-text-field">
	</div> -->

	<div class="row">
		<div class="col-xs-12">
			<md-content id="slider-container">
				<md-slider-container>
					<span>8</span>
					<md-slider flex="" ng-model="account.slidervalue" ng-change="account.lengthChanged()" aria-label="password length" min="8" max="21" id="slider-container" class="md-primary">
					</md-slider>
					<span>30</span>
				</md-slider-container>
		     </md-content>
		</div>
		
	</div>

	<div class="buttonrow">
		<div class="submit-account-buffer-top"></div>
		<div id="submit-account-button" ng-click="account.submitNewAccount()">
			Add Account
		</div>
		<div class="submit-account-buffer-bottom"></div>
	</div>

</form>

<input type="text" name="search" ng-model="account.search" placeholder="Search Accounts" id="search-box">

<account ng-repeat="account in account.accounts | filter:{website: account.search} as results" account="account"></account>

<div ng-if="results.length === 0 && account.accounts.length > 0" class="account no-results-card">
  No results found...
</div>

<div ng-if="account.accounts.length == 0" class="account no-results-card" id="no-hover">
  <span class="account_greeting_header">Welcome to your accounts page!</span>
  <p class="account_greeting_text">Here you can create, view, and edit all of your accounts.</p>
  <p class="account_greeting_text">You can add your first account using the 'Add Account' button above.</p>
</div>