<form role="form" ng-init="registrationForm = {}">
  <div class="form-group">
    <label>email</label>
    <input type="email" name="email" ng-model="signup.registrationForm.email" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>name</label>
    <input type="text" name="name" ng-model="signup.registrationForm.name" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password" name="password" ng-model="signup.registrationForm.password" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="signup.registrationForm.password_confirmation" required="required" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-primary btn-lg" ng-click="signup.handleRegBtnClick()">Register</button>
</form>