<link rel="stylesheet" type="text/css" href="css/authentication/signup.css">

<form role="form">
  <div class="form-group">
    <input type="email" name="email" ng-model="signup.registrationForm.email" required="required" class="form-control text-entry-field" placeholder="Email" id="email-text-field" ng-keypress="signup.keypressed($event)"/>
  </div>

  <div class="form-group">
    <input type="text" name="name" ng-model="signup.registrationForm.name" required="required" class="form-control text-entry-field" placeholder="Name" id="name-text-field" ng-keypress="signup.keypressed($event)"/>
  </div>

  <div class="form-group">
    <input type="password" name="password" ng-model="signup.registrationForm.password" required="required" class="form-control text-entry-field" placeholder="Password" id="password-text-field" ng-keypress="signup.keypressed($event)"/>
  </div>

  <div class="form-group">
    <input type="password" name="password_confirmation" ng-model="signup.registrationForm.password_confirmation" required="required" class="form-control text-entry-field" placeholder="Confirm Password" id="password-text-field" ng-keypress="signup.keypressed($event)"/>
  </div>

  <div class="buttonrow">
    <span class="login-button" ng-click="signup.handleRegBtnClick()">
      Sign-up
    </span>
    <span class="signup-button" ui-sref="authorization.login">
      Cancel
    </span>
  </div>
</form>