<link rel="stylesheet" type="text/css" href="css/dashboard/accounts.css">

<h1>Accounts</h1>

<button ng-click="account.handleAddAccountButtonClick()">Add Account</button>

<form class="form-search"> 
    <div class="input-append">
      <input type="text" ng-model="account.search" class="search-query" style="width: 80px">
    </div>
    <!-- <ul class="nav nav-pills nav-stacked">
      <li ng-animate="'animate'" ng-repeat="name in names | filter:search">
        <a href="#"> {{name}} </a>
      </li> 
  </ul> -->
</form>

<form role="form" ng-if="account.showForm">

	<div class="form-group">
		<label>website</label>
		<input type="text" name="website" ng-model="account.newAccount.website" required="required" class="form-control" placeholder="website name">
	</div>
	<div class="form-group">
		<label>email</label>
		<input type="text" name="email" ng-model="account.newAccount.email" required="required" class="form-control" placeholder="email">
	</div>
	<div class="form-group">
		<label>username</label>
		<input type="text" name="username" ng-model="account.newAccount.username" class="form-control" placeholder="username">
	</div>
	<div class="form-group">
		<label>password</label>
		<input type="text" name="password" ng-model="account.newAccount.password" required="required" class="form-control" placeholder="account password">
	</div>

	<button type="submit" class="btn btn-primary btn-lg" ng-click="account.submitNewAccount()">Add Account</button>

	<button ng-click="account.getStatus()">Get Status</button>

</form>

<div ng-repeat="account in account.accounts | filter:{website: account.search}">
	<account account="account"></account>
</div>