<link rel="stylesheet" type="text/css" href="css/authentication/password.css">

<!-- Change password form -->
<form role="form">
  <div class="form-group text-entry-field">
    <div class="prompt-text">Please enter your password:</div>
    <input type="password" name="password" ng-model="change.updatePasswordForm.password" required="required" class="form-control" id="email-text-field">
  </div>

  <div class="form-group text-entry-field">
    <div class="prompt-text">Please re-enter your password:</div>
    <input type="password" name="password_confirmation" ng-model="change.updatePasswordForm.password_confirmation" required="required" class="form-control" id="email-text-field">
  </div>

  <div class="request-button-row">
  	<button class="request-button" ng-click="change.handleUpdatePasswordBtnClick()">Change your password</button>
  </div>
</form>