<link rel="stylesheet" type="text/css" href="css/authentication/pin.css">

<div ng-if="pin.user.first_time">
	<div id="welcome-header">Welcome to F.R.I.D.A.Y. {{pin.user.first_name}}!</div>
	<p class="pin-info">Now is when you get to choose your 6 digit alpha-numeric pin that is used to protect your data.</p>
	<p class="pin-info">Keep your pin safe! Keep in mind that you are the only person that knows your pin. The pin you choose is never kept on any server or database for security purposes so it's important that you don't forget your pin. If you do, you will be unable to decrypt your data.</p>
	<p class="pin-info">Please pick a pin that is memorable to you but also difficult to guess by others and enter it below. You will be required to re-enter this pin every time you log in or refresh the page.</p>
</div>

<h3 ng-if="!pin.user.first_time">Please enter your pin:</h3>

<div id="pin-field" ng-keydown="pin.digitEntered()" ng-keyup="pin.digitEnteredUp()">
	<input type="password" name="pin" maxlength="1" ng-model="pin.digit1" id="digit1" ng-keyup="pin.digit1entered()" autofocus>
	<input type="password" name="pin" maxlength="1" ng-model="pin.digit2" id="digit2" ng-keyup="pin.digit2entered()">
	<input type="password" name="pin" maxlength="1" ng-model="pin.digit3" id="digit3" ng-keyup="pin.digit3entered()">
	<input type="password" name="pin" maxlength="1" ng-model="pin.digit4" id="digit4" ng-keyup="pin.digit4entered()">
	<input type="password" name="pin" maxlength="1" ng-model="pin.digit5" id="digit5" ng-keyup="pin.digit5entered()">
	<input type="password" name="pin" maxlength="1" ng-model="pin.digit6" id="digit6">
</div>

<div id="more-info-button" ng-if="!pin.moreinfo">
	<a ng-click="pin.showinfo()">Why do I need this?</a>
</div>

<div ng-if="pin.moreinfo">
	<p class="pin-info">You need to enter your pin every time this page is either loaded or refreshed. This is because your pin is only temporarily stored in the browser memory, which is reset every refresh. This is to keep your data safe and secure. To learn more about your pin, <a ui-sref="security">click here.</a></p>
</div>