.text-entry-field {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	font-size: 1.2em;
	text-align: center;
	margin-top: 25px;
}

#email-text-field {
	border: 0;
	border-bottom: 1px solid #bbb;
	background-color: #fcfcfc;
	box-shadow: none;
	padding: 0;
	border-radius: 0px;
	font-size: 1.2em;
	text-align: center;
}

.prompt-text {
	text-align: left;
	margin-bottom: 5px;
}

.request-button-row {
	text-align: center;
}

.request-button {
	font-size: 1.5em;
	background-color: transparent;
	border: 0;
	margin-top: 10px;
}

.validation-errors-container {
	text-align: center;
}

.validation-errors {
	color: red;
	font-size: 1.1em;
	margin-bottom: 10px;
	display: inline-block;
}

#email-text-field.ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}