/* SIGN UP PAGE */

#Wheatley {
	-webkit-animation: wheatleyMoveUp 0.1s forwards;
}

@keyframes wheatleyMoveUp {
    from {margin-top: 30px;}
    to {margin-top: 10px;}
}

#register {
	text-align: center;
	margin-bottom: 30px;
}

.text-entry-field {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	font-size: 1.2em;
	text-align: center;
}

#email-text-field {
	border: 0;
	border-bottom: 1px solid #bbb;
	background-color: #fcfcfc;
	box-shadow: none;
	padding: 0;
	border-radius: 0px;
}

.name-field {
	padding: 0;
}

#name-text-field {
	font-size: 1.00em;
	text-align: center;
	height: 50px;
	border: 0;
	border-bottom: 1px solid #bbb;
	background-color: #fcfcfc;
	box-shadow: none;
	padding: 0;
	border-radius: 0px;
	display: inline-block;
}

#password-text-field {
	border: 0;
	background-color: #fcfcfc;
	border-bottom: 1px solid #bbb;
	box-shadow: none;
	padding: 0;
	border-radius: 0px;
}

.buttonrow {
	margin-top: 4px;
	font-size: 1.5em;
	text-align: center;
}

.login-button {
	border-right: 1px solid #bbb;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.signup-button {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.forgot-button {
	font-size: 0.8em;
}

.login-button, .signup-button, .forgot-button:hover {
	cursor: pointer; 
	cursor: hand;
}

.form-group {
	margin: 0;
}

.errors {
	color: red;
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 10px;
}

.validation-errors-container {
	text-align: center;
}

.validation-errors {
	color: red;
	font-size: 1.1em;
	margin-bottom: 10px;
	display: inline-block;
}

#email-text-field.ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}

#password-text-field.ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}
#name-text-field.ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}

/* SIGN UP PAGE END */

/* LARGE DEVICES */
@media (min-width: 1200px) {
	.text-entry-field {
		width: 50%;
	}
}

/* MEDIUM DEVICES */
@media (min-width: 992px) and (max-width: 1199px) {
	.text-entry-field {
		width: 60%;
	}
}

/* EXTRA SMALL SCREENS */
@media (min-width: 480px) and (max-width: 767px) {
	.text-entry-field {
		width: 80%;
	}
}

/********** XXS SCREENS **********/
@media (max-width: 479px) {
	.text-entry-field {
		width: 90%;
	}
}