header {
	background-color: #c3dfed;
	padding-top: 3px;
	padding-bottom: 3px;
}

footer {
	background-color: #c3dfed;
	height: 300px;
	margin-top: -60px;
	z-index: 0;
	position: relative;
}

#Wheatley {
	height: 250px;
	width: 250px;
	float: right;
	margin-top: 40px;
	margin-bottom: 40px;
}

.info-header {
	font-family: 'Roboto';
	margin-top: 95px;
	font-weight: medium;
	font-size: 50px;
	color: white;
	letter-spacing: 4px;
}

#button-row {
	margin-left: 12px;
}

#loginbutton {
	font-size: 0.4em;
	font-family: helvetica;
	font-weight: 400;
	color: white;
	margin-right: 10px;
	background-color: #39add5;
	border: 0;
	border-radius: 5px;
	padding: 8px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0px;
}

#signupbutton {
	font-size: 0.4em;
	font-family: helvetica;
	font-weight: 400;
	color: #39add5;
	margin-right: 10px;
	border: 2px solid #39add5;
	background-color: transparent;
	border-radius: 5px;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
}

.header-card {
	margin-top: -15px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
	box-shadow: 2px 2px 5px #DDDDDD;
	font-family: Helvetica;
	font-weight: 300;
	padding: 70px;
	font-style: normal;
	margin-bottom: 40px;
}

.header-card:focus, .header-card:active, .header-card.active, .header-card:focus:active {
	background-image: none;
  	outline: none;
    -webkit-box-shadow: none;
  	box-shadow: 2px 2px 5px #DDDDDD;
}

.summary-card {
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
	box-shadow: 2px 2px 5px #DDDDDD;
	font-family: Helvetica;
	font-weight: 300;
	padding: 60px;
	font-style: normal;
	margin-bottom: 40px;
}

.summary-card:focus, .summary-card:active, .summary-card.active, .summary-card:focus:active {
	background-image: none;
  	outline: none;
    -webkit-box-shadow: none;
  	box-shadow: 2px 2px 5px #DDDDDD;
}

.card-header {
	font-size: 30px;
	margin-top: 25px;
}

.features-subcard-header {
	font-size: 30px;
	margin-top: 25px;
	text-align: center;
}

.pin-subcard-header {
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.description {
	margin-top: 20px;
	line-height: 24px;
	font-size: 1.1em;
}

.center-description {
	text-align: center;
}

#intro-ending {
	font-size: 1.1em;
}

.image_preview_container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.image_description {
	text-align: center;
	font-size: 1.2em;
}

.skip-to-button {
	height: 200px;
	border: 1px solid black;
}

.jump_to {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #eee;
	font-size: 1.2em;
	box-shadow: 2px 2px 5px #bbb;
	margin-bottom: 5px;
}

#learn_more {
	font-size: 1.4em;
	margin-bottom: 5px;
}

#features_jump {
	padding-bottom: 3px;
	border-bottom: 2px solid red;
}

#pin_jump {
	padding-bottom: 3px;
	border-bottom: 2px solid green;
}

#security_jump {
	padding-bottom: 3px;
	border-bottom: 2px solid black;
}

#features_jump_to {
	padding-bottom: 3px;
	border-bottom: 2px solid red;
}

#pin_jump_to {
	padding-bottom: 3px;
	border-bottom: 2px solid green;
}

#security_jump_to {
	padding-bottom: 3px;
	border-bottom: 2px solid black;
}

.section_header {
	text-align: center;
	font-size: 2em;
	margin-bottom: 40px;
}

#security-lock {
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 5px #bbb;
}

#password-encryption-demo {
	text-align: center;
	font-family: courier;
}

#fun-fact-header {
	font-size: 2em;
	margin-top: 30px;
	text-align: center;
}

.fun-fact {
	padding-left: 25px;
	padding-right: 25px;
}

.last-card {
	z-index: 1000;
	position: relative;
}

#footer-header {
	font-size: 4em;
	font-family: helvetica;
	text-align: center;
	padding-top: 60px;
	color: white;
}

.signupnowbutton {
	text-align: center;
	font-size: 3.5em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

/* STYLES FOR THE ACCOUNT PREVIEW */

.account {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border-radius: 5px;
	background-color: #fcfcfc;
	border: 1px solid #eee;
	font-family: 'Lato';
	width: 530px;
}

.account-details {
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 5px;
}

#website-preview {
	padding-right: 0;
	text-align: center;
}

.account_website_enlarged {
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	padding-bottom: 15px;
	width: 100%;
	font-size: 2.7em;
}

.account_email {
	font-style: italic;
	margin-top: 0;
	display: block;
	text-transform: none;
	font-size: 0.3em;
} 

.display-password-field {
	padding: 2px;
	padding-left: 5px;
	border: 1px solid #eee;
	border-right: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
}

.show-password-button {
	padding: 2px;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #eee;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #c0deed;
	margin-left: -3px;
}

.show-password-button:focus, .show-password-button:active, .show-password-button.active, .show-password-button:focus:active {
	background-image: none;
  	outline: none;
    -webkit-box-shadow: none;
  	box-shadow: none;
}

.edit-button {
	text-align: right;
	font-size: 1.2em;
	margin-top: 3px;
	padding: 0;
}

.delete-button {
	text-align: left;
	margin-top: 3px;
	font-size: 1.2em;
	color: red;
	padding: 0;
}

.copyButton {
	background-color: transparent;
	border: 0;
}

.copyButton:focus, .copyButton:active, .copyButton.active, .copyButton:focus:active {
	background-image: none;
  	outline: none;
    -webkit-box-shadow: none;
  	box-shadow: none;
}

.clipboard-icon {
	width: 40px;
	height: 40px;
}

.copyButton {
	margin-top: 30px;
}

.website-preview {
	width: 80%;
	margin: 5px;
	padding-top: 8px;
}
/* END STYLES FOR THE ACCOUNT PREVIEW */

/* STYLES FOR THE PIN PREVIEW */
#pin-field {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

#pin-field input {
	width: 40px;
	height: 55px;
	margin: 9px;
	border-radius: 5px;
	text-align: center;
	font-size: 30px;
	padding: 0;
	border: 1px solid #eee;
}
/* STYLES FOR THE PIN PREVIEW */


/* LARGE DEVICES */
@media (min-width: 1200px) {
	
}

/* MEDIUM DEVICES */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* SMALL DEVICES */
@media (min-width: 768px) and (max-width: 991px) {
	.info-header {
		margin-top: 90px;
		font-weight: medium;
		font-size: 50px;
		color: white;
		letter-spacing: 4px;
	}
	.features-subcard-header {
		margin-top: 0px;
	}
	.pin-subcard-header {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.pin-sub-card-header-2 {
		margin-top: 20px;
	}
	#pin-field {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

/* EXTRA SMALL SCREENS */
@media (min-width: 480px) and (max-width: 767px) {
	.info-header {
		margin-top: 60px;
		font-weight: medium;
		font-size: 50px;
		color: white;
		letter-spacing: 4px;
	}
	#Wheatley {
		height: 180px;
		width: 180px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	#loginbutton {
		font-size: 0.4em;
		margin-right: 5px;
		margin-left: 10px;
		padding: 8px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 0px;
	}

	#signupbutton {
		font-size: 0.4em;
		margin-right: 5px;
		padding: 8px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 0px;
	}
	.account {
		width: 100%;
	}
	.account_website_enlarged {
		margin-left: 30px;
	}
	.clipboard-icon {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}
	.display-password-field {
		width: 60%;
	}
}

/********** XXS SCREENS **********/
@media (max-width: 479px) {
	.info-header {
		margin-top: 60px;
		font-weight: medium;
		font-size: 30px;
		margin-left: -10px;
		color: white;
		letter-spacing: 4px;
	}
	#Wheatley {
		height: 120px;
		width: 120px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.header-card {
		padding: 15px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.summary-card {
		padding: 15px;
		margin-left: 5px;
		margin-right: 5px;
	}
	#button-row {
		margin-left: 0px;
	}
	#loginbutton {
		font-size: 0.4em;
		margin-right: 0px;
		margin-left: 0px;
		padding: 8px;
		padding-left: 17px;
		padding-right: 17px;
		margin-top: 0px;
	}

	#signupbutton {
		font-size: 0.4em;
		margin-right: 0px;
		padding: 8px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 0px;
	}
	.account {
		display: none;
	}
	.account_website_enlarged {
		margin-left: 10px;
		font-size: 2.1em;
	}
	.clipboard-icon {
		width: 25px;
		height: 25px;
		margin-right: 7px;
	}
	.account-details {
		padding: 0;
	}
	.display-password-field {
		width: 60%;
	}
	.edit-button {
		font-size: 0.8em;
	}
	.show-password-button {
		font-size: 0.7em;
	}
	#pin-field {
		margin-left: -10px;
		margin-right: -10px;
	}
	#pin-field input {
		width: 30px;
		height: 40px;
		font-size: 1.2em;
		margin: 2px;
	}
	.pin-subcard-header {
		margin-top: 10px;
	}
	footer {
		height: 200px;
	}
	#footer-header {
		padding-top: 30px;
		font-size: 2.5em;
	}
	.signupnowbutton {
		font-size: 2.5em;
		margin-top: 10px;
	}
}


